/*Colour key -----------*/
:root {
  --white: #ffffff;
  --black: #000000;
  --pink: #ee4c9c;
  --purple: #441f50;
  --green: #1f8f75;
  --blue: #0293d6;
  --orange: #f9a61d;
}

/* CSS GRID
-------------*/
body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
main {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "main-section-one"
    "main-section-two"
    "main-section-three";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
.main-section:nth-child(1) {
  grid-area: main-section-one;
}
.main-section:nth-child(2) {
  grid-area: main-section-two;
}
.main-section:nth-child(3) {
  grid-area: main-section-three;
}
footer {
  grid-area: footer;
}

/*Form styling ------*/
label {
  font-family: sys-tt, sans-serif;
  font-size: 1.2em;
  color: var(--black);
}
input {
  font-family: sys-tt, sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

/* Media Queries
-------------*/

/*  SMALL Desktop screen sizes-------------*/
@media (min-width: 938px) {
  main {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "main-section-two main-section-one"
      "main-section-three main-section-zero";
  }
  select {
    width: 98%;
  }
}
/* 
-------------*/
/* 
-------------*/
