/*
HEADING
font-family: tachyon,sans-serif;
font-weight: 400;
font-style: normal;

Sub-Heading
font-family: rift,sans-serif;
font-weight: 700;
font-style: italic;

Body
font-family: sys-tt,sans-serif;
font-weight: 400;
font-style: normal;
*/

/* General Styles
---------------*/
h1 {
    font-family: tachyon,sans-serif;
    font-size: 3.75em;
    color: #000000;
}

h2 {
    font-family: rift,sans-serif;
    font-size: 3.75em;
    color: #000000;
}

h3 {
    font-family: rift,sans-serif;
    font-size: 2.65em;
    color: #000000;
}

p {
    font-family: sys-tt,sans-serif;
    font-size: 2em;
    color: #000000;
}